.contenedor_panelAdmin{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.contenedor_panelAdmin>a{
    width: 10rem;
    text-align: center;
    text-transform: capitalize;
    padding: 20px;
    background-color: var(--secondary);
    border-radius: 20px;
    color: white;
    border: 2px solid var(--secondary);
}
.contenedor_panelAdmin>a:hover{
    transition: 0.5s;
    background-color: white;
    transform: scale(1.1);
    color: var(--secondary);
}
